/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: "DM Sans", Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: "DM Sans", Arial, Helvetica, sans-serif;
  --font-mono: "DM Sans", Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffffff;
  color: #171717;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
} */
